@model MiniCrm.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCustomerModalLabel">Customer Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.FirstName"></label>
                                <input asp-for="Customer.FirstName" type="text" class="form-control" placeholder="Enter first name">
                                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.LastName">Last Name</label>
                                <input asp-for="Customer.LastName" type="text" class="form-control" placeholder="Enter last name">
                                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Customer.Email">Email</label>
                                <input asp-for="Customer.Email" type="email" class="form-control" placeholder="Enter email">
                                <span asp-validation-for="Customer.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.Type"></label>
                                <select asp-for="Customer.Type" class="form-control">
                                    <option value="None">None</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Premium">Premium</option>
                                    <option value="VIP">VIP</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                        </div>
                    </div>

                    <hr />

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Customer.Address.Street"></label>
                                <input asp-for="Customer.Address.Street" type="text" class="form-control" placeholder="Enter street">
                                <span asp-validation-for="Customer.Address.Street" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.Address.City"></label>
                                <input asp-for="Customer.Address.City" type="text" class="form-control" placeholder="Enter city">
                                <span asp-validation-for="Customer.Address.City" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.Address.State"></label>
                                <input asp-for="Customer.Address.State" type="text" class="form-control" placeholder="Enter state">
                                <span asp-validation-for="Customer.Address.State" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.Address.ZipCode"></label>
                                <input asp-for="Customer.Address.ZipCode" type="text" class="form-control" placeholder="Enter zip code">
                                <span asp-validation-for="Customer.Address.ZipCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Customer.Address.Type"></label>
                                <select asp-for="Customer.Address.Type" class="form-control">
                                    <option value="None">None</option>
                                    <option value="Home">Home</option>
                                    <option value="Work">Work</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>